[run]
omit =
	pynumdiff/_version.py
	pynumdiff/tests/*
	pynumdiff/utils/old_pi_cruise_control.py

[report]
# uses regex to match lines; lines that head a block or function exclude that whole thing
exclude_lines =
	pragma: no cover
	if __name__ == .__main__.:
	if diagflag:
	if options != None:
	^def plot
	^def plot_comparison
	^def suggest_method
	def _lorenz_xyz_odeint
	^except ImportError:
	