alabaster==0.7.12
appnope==0.1.0
arviz==0.11.2
astroid==2.5.6
atomicwrites==1.1.5
attrs==18.1.0
Babel==2.9.1
bleach==3.3.0
certifi==2020.12.5
cftime==1.4.1
chardet==4.0.0
chart-studio==1.1.0
colorama==0.4.4
contextvars==2.4
cvxpy==1.1.13
cycler==0.10.0
dataclasses==0.6
decorator==4.1.2
DGP @ git+https://github.com/SheffieldML/PyDeepGP.git@f2a1f568a7462633a58ed433520dcf7f0c98515c
dill==0.3.3
docutils==0.16
ecos==2.0.7.post1
entrypoints==0.2.3
enum34==1.1.6
et-xmlfile==1.1.0
fastprogress==1.0.0
GPy==1.9.9
gpytorch==1.4.1
h5py==2.7.1
hmlstm==0.0.1
html5lib==0.9999999
idna==2.10
imagesize==1.2.0
immutables==0.15
importlib-metadata==4.0.1
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.1
isort==5.8.0
jedi==0.11.0
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
keyring==23.0.1
kiwisolver==1.0.1
lazy-object-proxy==1.6.0
Markdown==3.3.4
MarkupSafe==1.0
matlab-kernel==0.15.0
matlabengineforpython===R2017b
matplotlib==3.3.4
mccabe==0.6.1
metakernel==0.20.14
mistune==0.7.4
more-itertools==4.2.0
Mosek==9.2.45
mpmath==1.0.0
nbconvert==5.3.1
nbformat==4.4.0
netCDF4==1.5.6
nose==1.3.7
notebook==5.1.0
numpy==1.19.5
openpyxl==3.0.7
osqp==0.6.2.post0
packaging==20.9
pandas==1.1.5
pandocfilters==1.4.2
paramz==0.9.5
parso==0.1.0
patsy==0.5.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==8.2.0
pkginfo==1.7.0
plotly==4.14.3
pluggy==0.6.0
pods==0.0.2a0
prompt-toolkit==1.0.15
protobuf==3.4.0
ptyprocess==0.5.2
py==1.5.4
pyamg==3.3.2
pychebfun==0.3
pygame==1.9.3
Pygments==2.9.0
pylint==2.8.2
pymatbridge==0.5.2
PyOpenGL==3.1.0
pyparsing==2.2.0
pytest==3.6.2
python-dateutil==2.8.1
python-markdown-math==0.8
pytz==2018.4
pyzmq==16.0.2
qdldl==0.1.5.post0
qtconsole==4.3.1
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
retrying==1.3.3
rfc3986==1.5.0
scikit-learn==0.19.1
scipy==1.5.4
scs==2.1.3
seaborn==0.11.1
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
snowballstemmer==2.1.0
Sphinx==3.5.4
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sympy==1.1.1
tensorflow==1.3.0
tensorflow-tensorboard==0.1.8
terminado==0.6
testpath==0.3.1
tf-nightly==1.5.0.dev20171102
Theano-PyMC==1.0.11
toml==0.10.2
torch==1.8.1
torchaudio==0.8.1
torchvision==0.9.1
tornado==4.5.2
tqdm==4.60.0
traitlets==4.3.2
transforms3d==0.3.1
twine==3.4.1
typed-ast==1.4.3
typing-extensions==3.7.4.3
urllib3==1.26.4
viz==0.0.5
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==3.0.3
wrapt==1.12.1
xarray==0.16.2
xlrd==2.0.1
zipp==3.4.1
zmq==0.0.0
