on:
  push:
    branches:
      - master
  pull_request:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # important for Coveralls to read commit history
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13' # because cvxopt binaries for 3.14 don't yet exist, and building is terrible
      - name: tests and coverage
        run: |
          pip install -e .[advanced,dev] coveralls
          coverage run --source=pynumdiff --omit="pynumdiff/_version.py,pynumdiff/tests/*,pynumdiff/utils/old_pi_cruise_control.py" -m pytest -s
          coverage xml
      - uses: coverallsapp/github-action@v2
        with:
          format: cobertura
          file: coverage.xml
